@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    top:0;
    left:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 9%;
    background:rgb(162, 160, 167);
}
.heading
{
    text-align:center;
    padding:20px 0;
    padding-bottom:30px;         
    font-size:35px;
    color:black;
}  
.btnn
{
            
    margin-top:10px;
    display:inline-block;
    padding:8px 30px;
    font-size:17px;
    border-radius:5px;
    border:2px solid rgb(105, 95, 95);
    color:lightslategray;
    cursor:pointer;
    background: none;
}
.btnn:hover{
    background:rgb(16, 94, 229);
    color:rgb(4, 3, 3);       
}  
.product .p-slider{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    margin-bottom:20px;
}       
.product .p-slider .box{
    background:whitesmoke;
    border-radius:5px;
    text-align:center;
    padding:30px 20px;
    outline-offset: -1rem;
    border: 10px solid rgb(219, 201, 128);
    outline:gray;
    gap: 1px rgb(234, 212, 124);
}
.product .p-slider .box:hover{
    outline-offset: 0rem;
    outline:var(--outline-hover);
}
        
.product .p-slider .box img{            
    margin:1rem 0;
    height:15rem;
    }
.product .p-slider .box h3{
    font-size: 35px;
    color:black;
    line-height:1.8;
}
.product .p-slider .box .price{
    font-size:20px;
    color:gray;
    padding:50px 0;
}
.product .p-slider .box .stars i{
    font-size: 17px;
    color:black;
    padding:5px 0;
}    
.footer{
    background-color: black;
    padding:40px 0;
    }
.column{
    width:20%;
    padding:0 15px ;
}
.column h4{
    font-size: 18px;
    color:white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:5000;
    position:relative;
    text-decoration: underline; 
}
.column ul li:not(:last-child){
    margin-bottom:10px;
}
.column ul li a{
    font-size:16px;
    text-transform:capitalize;
    color:white;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
}
.column ul li a:hover{
    color:white;
    padding-left:8px; 
}
.column .social-links a{
    display:inline-block;
    height:40px;
    width:40px;
    background-color:rgba(255,255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition:all 0.5s ease;
}
.column .social-links a:hover{
    color:black;
    background-color: rgb(255, 217, 0);
}